{% extends 'main.html' %} {% block content%}

<div>
  {%if page == "login" %}
  <form method="POST" action="">
    {%csrf_token%}
    <label>Username:</label>
    <input type="text" placeholder="Enter username..." name="username" />
    <label>Password:</label>
    <input type="password" placeholder="Enter password..." name="password" />
    <input type="submit" value="Login" />
  </form>
  {% else %}
  <form method="POST" action="">
    {%csrf_token%} {{form.as_p}}
    <input type="submit" value="Register" />
  </form>
  {% endif %}
</div>
{% endblock%}
